@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

/* Page */

body{
    background-color: var(--background-color);
    color: var(--font-color-primary);
}

h1{
    text-align: center;
    padding:55px 0 20px;
}

h2{
    padding-bottom: 10px;
}

p{
    margin:0;
}

.pop{
    font-weight:bolder;
    color: var(--accent-color-1);
}


/* Our story section */

#our-story{
    max-width: var(--max-width);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0 var(--body-padding) 55px;
    gap:50px;
    align-items: center;
    grid-template-areas: 
    "block-1 block-1 block-1 block-2"
    "block-3 block-3 block-4 block-4"
    ;
}

#block-1{
    grid-area: block-1;
}

#block-2{
    grid-area: block-2;
}

#block-3{
    grid-area: block-3;
}

#block-4{
    grid-area: block-4;
}

#our-story .story-img{
    width:100%;
    min-width: 150px;
}

#block-2 .story-img{
    border-radius: 50%;
}

/* USP section */

#usp-section{
    background-color: var(--secondary-color);
    margin-top: 65px;
    color: var(--background-color);
}

#usp-section div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
    max-width: var(--max-width);
    padding: var(--body-padding);
    margin: auto;
}

#usp-section article{
    text-align: center;
    padding-bottom: 55px;
}

#usp-section h3{
    margin: 15px 0 10px;
    font-weight: 700px;
    font-size: 1.1rem;
}

#usp-section p{
    margin: 0 0 10px;
    font-size: 0.8rem;
}

.usp-img{
    width:110px;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 25px;
    margin: -75px auto 0;
}


/* Locations section */

#locations-section{
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: 1fr 300px;
    margin:auto;
    padding:45px var(--body-padding);
    gap: 20px;
    align-items: center;
    grid-template-areas: 
    "locations map"
    ;
}

#locations h2{
    width: 100%;
    text-align: center;
}

#locations{
    display: flex;
    gap:15px;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    padding-right: var(--body-padding);
    grid-area: locations;
}

#locations div{
    background-color: var(--font-color-primary);
    background-image: url(https://carowa27.github.io/eshop-group3/Images/pin.png);
    background-repeat: no-repeat;
    background-size:contain;
    padding: 10px 17px 8px 40px;
    color: var(--background-color);
    text-decoration: none;
    font-weight: bolder;
    border-radius: 15px;
    cursor: pointer;
}

#locations div:hover, #locations div:active{
    color: #fff;
    background-color: var(--secondary-color);
}

#map {
    position: relative;
    max-width:300px;
    text-align: center;
    grid-area: map;
}

#map img{
    width: 100%;
}

iframe {
  opacity: 0;
  transition: opacity 1s linear;
  position: absolute;
  margin-top: -300px;
  margin-left: -150px;
  width: 100%;
  height: 100%;
}

.iframeHide {
  opacity: 0;
}

.iframeShow {
  opacity: 1;
}

@media screen and (max-width:1000px) {

    #our-story{
        grid-template-columns: repeat(6,1fr);
        gap:20px;
        grid-template-areas: 
        "block-1 block-1 block-1 block-1 block-2 block-2"
        "block-3 block-3 block-3 block-4 block-4 block-4"
        ;
    }

    #usp-section div{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(2);
        gap:60px;
    }

}

@media screen and (max-width:768px) {
    
    #our-story{
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
        "block-1 block-1 block-2"
        "block-3 block-3 block-3"
        "block-4 block-4 block-4"
        ;
    }

    #block-3 .story-img {
        margin-top:30px;
    }

    #usp-section div{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        grid-template-rows:repeat(4);
        padding-bottom: 0px;
    }

    #locations-section{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "map"
        "locations"
        ;
    }

    #map {
        margin: auto;
    }

    #usp-section p{
        font-size: 1rem;
    }