@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

body{
    font-family: Domine, serif;
    background-color: #f3e5dc;
    color: #574142;
}

p {
    line-height: 1.6;
    font-size: .9rem;
}

h1{
    text-align: center;
    padding-top: 55px;
}

footer{
    background-color: #ccc;
    height: 100px;
}

main, section{
    background-color: #e1d4bc;
}

main .story-img{
    max-width: 75%;
    min-width: 150px;
    border-radius: 50%;
    border: 10px solid #fff;
}

.pop{
    font-weight: bold;
    color: darkcyan;
}

#our-story{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 50px 20%;
    align-items: center;
    grid-template-areas: 
    "block-1 block-1 block-2"
    "block-3 block-4 block-4"
    ;
}

#block-1{
    grid-area: block-1;
    padding-right: 20px;
}

#block-2{
    grid-area: block-2;
    text-align: center;
}

#block-3{
    grid-area: block-3;
    text-align: center;
}

#block-4{
    grid-area: block-4;
    padding-left: 20px;
}


#usp-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0 15%;
    background-color: #f7559a;
    gap: 20px;
    margin-top: 65px;
    color:#fff;
}

#usp-section h3{
    margin: 15px 0 10px;
    font-weight: 700px;
    font-size: 1.1rem;
}

#usp-section p{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 0 10px;
    font-size: 0.8rem;
    line-height: 1rem;
}

#usp-section article{
    text-align: center;
    padding-bottom: 55px;
}

/*
#usp-1{
    background-color: pink;
    border-radius: 50% 50% 0 50%;
    min-width: 200px;
    min-height: 400px;
}
#usp-2{
    background-color: darkorange;
    border-radius: 30% 50% 30% 0;
    min-width: 200px;
    min-height: 400px;
}
#usp-2 .usp-img{
    position: relative;
    right:-200px;
    background-color: #fff;
    border-radius: 50%;
    border: solid 3px pink;
}
#usp-3{
    background-color:goldenrod;
    border-radius: 50% 0 50% 50%;
    min-width: 200px;
    min-height: 400px;
}
#usp-4{
    background-color:salmon;
    border-radius: 0 50% 50% 50%;
    min-width: 200px;
    min-height: 400px;
}
*/
.usp-img{
    width:60px;
    background-color: #fff;
    border-radius: 50%;
    padding: 25px;
    margin-top: -55px;
}

@media screen and (max-width:1000px) {
    
    #usp-section{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(2,1fr);
    }

}