@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

/*DELETE*/
footer, header{
    background-color: #ccc;
    height: 100px;
}
/*DELETE*/

body{
    background-color: var(--background-color);
    color: var(--font-color-primary);
}

h1{
    text-align: center;
    padding-top: 55px;
}

main .story-img{
    max-width: 75%;
    min-width: 150px;
}

.pop{
    font-weight:bolder;
    color: var(--accent-color-1);
}

#our-story{
    max-width: var(--max-width);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: var(--body-padding);
    align-items: center;
    grid-template-areas: 
    "block-1 block-1 block-2"
    "block-3 block-4 block-4"
    ;
}

#block-1{
    grid-area: block-1;
    padding-right: 20px;
}

#block-2{
    grid-area: block-2;
    text-align: center;
}

#block-3{
    grid-area: block-3;
    text-align: center;
}

#block-4{
    grid-area: block-4;
    padding-left: 20px;
}

#usp-section{
    background-color: var(--secondary-color);
    margin-top: 65px;
    color: var(--background-color);
}

#usp-section div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
    max-width: var(--max-width);
    padding: var(--body-padding);
    margin: auto;
}



#usp-section h3{
    margin: 15px 0 10px;
    font-weight: 700px;
    font-size: 1.1rem;
}

#usp-section p{
    margin: 0 0 10px;
    font-size: 0.8rem;
}

#usp-section article{
    text-align: center;
    padding-bottom: 55px;
}

.usp-img{
    width:110px;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 25px;
    margin: -75px auto 0;
}

#locations-section{
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: 1fr 300px;
    margin:auto;
    padding:45px var(--body-padding);
    gap: 20px;
    align-items: center;
}

#locations{
    display: flex;
    gap:15px;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    padding-right: var(--body-padding);
}

#locations a{
    background-color: var(--font-color-primary);
    background-image: url(/Images/pin.png);
    background-repeat: no-repeat;
    background-size:contain;
    padding: 10px 17px 8px 40px;
    color: var(--background-color);
    text-decoration: none;
    font-weight: bolder;
    border-radius: 15px;
}

#locations h2{
    width: 100%;
    text-align: center;
}

#locations a:hover{
    color: #fff;
    background-color: var(--secondary-color);
}

#map {
    position: relative;
    max-width:300px;
    text-align: center;
}

#map img{
    width: 100%;
}

iframe {
  opacity: 0;
  transition: opacity 0.5s linear;
  position: absolute;
  margin-top: -300px;
  margin-left: -150px;
  width: 100%;
  height: 100%;
}

.iframeShow {
  opacity: 1;
}

.iframeHide {
  opacity: 0;
}


@media screen and (max-width:1000px) {
    
    #usp-section div{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(2);
        gap:60px;
    }

}

@media screen and (max-width:768px) {
    
    #usp-section div{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        grid-template-rows:repeat(4);
        padding-bottom: 0px;
    }

    #locations-section{
        grid-template-columns: 1fr;
    }

    #locations-section{
        grid-template-columns: 1fr;
    }

    #map {
        margin: auto;
    }