body {
    background-color: #f3e5dc;

}

* {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 50% 43%;
    justify-content: center;
    font-family: 'Domine', serif;
}

h2 {
    color: #f7559a;
    margin-left: 10px;
}

#product-details {
    margin: 10px;
    border: 1px solid #f7559a;
    border-radius: 4px;
}

/*Set the grid for the forms*/
#billing,
#delivery {
    display: grid;
    border: 1px solid #f7559a;
    border-radius: 4px;
    margin: 10px;
}

.one-column,
.two-column {
    display: grid;
    padding: 0 10px 0 10px;
}

.two-column {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

#date,
#first-name,
#post-code {
    grid-row: 2;
    max-width: 95%;
}

/* Style the form questions */
input,
select {
    padding: 12px 0;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
}

select {
    padding-left: 8px;
}


/* Screen adjustments */
@media screen and (max-width: 980px) {
    main {
        grid-template-columns: 47% 47%;
    }
}

@media only screen and (max-width: 720px) {
    main {
        grid-template-columns: 1fr;
    }

    #product-details {
        order: -1;
    }
}