/* Outer wrappers and general settings */
body {
    background-color: var(--background-color);
}

main {
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 43%;
    justify-content: center;
    color: var(--font-color-secondary);
    padding: var(--body-padding);
}

h2 {
    color: var(--font-color-primary);
    margin: 10px;
}

.discount {
    font-style: italic;
}

p {
    margin: 0;
}

#foot-container {
    position: static;
}

#product-details,
#billing,
#delivery {
    margin: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    padding-bottom: 10px;
}

/* Order information settings*/

.one-column,
.two-column {
    display: grid;
    padding: 0 10px 0 10px;
}

.two-column {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.accept {
    padding: 0 10px 0 10px;
}

.one-column button {
    padding: 15px;
    background-color: var(--accent-color-1);
    margin: 20px 10px;
    font-family: var(--font-family);
    font-size: 1em;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

#date,
#first-name,
#post-code {
    grid-row: 2;
    max-width: 95%;
}

#cost-mobile {
    display: none;
}

/* Style the form questions */
#order-information input,
select {
    padding: 12px 0;
    margin: 8px 0;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--input-field-color);
}

select {
    padding-left: 8px;
}

/* Products section */
#product-position {
    position: sticky;
    top: 20px;
}

#collapsible {
    display: none;
}

#products {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    overflow-y: scroll;
    max-height: 600px;
    display: block;
}

#products article {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px 20px;
    border-bottom: 1px solid var(--border-color);
    padding: 12px 0px;
    margin-bottom: 8px;
}

.product-img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.product-name {
    padding: 10px;
}

.product-cost {
    align-self: flex-end;
    text-align: right;
    margin-right: 10px;
}

.amount {
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    width: fit-content;
    margin-left: auto;
}

.amount input,
.amount button {
    width: 2em;
    height: 2em;
    border: none;
    background-color: var(--input-field-color);
    flex-grow: 0;
}

.amount button {
    cursor: pointer;
}

.amount input {
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
}

#cost {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px 10px;
}

/* Screen adjustments */
@media screen and (max-width: 980px) {
    main {
        grid-template-columns: 52% 48%;
        max-width: 100%;
    }

    #products {
        width: 100%;
        border: none;
    }

    #products article {
        gap: 10px 0;
    }
}

@media only screen and (max-width: 750px) {
    main {
        padding: 0;
    }

    h2 {
        font-size: 1.3em;
    }

    main,
    .two-column {
        grid-template-columns: 1fr;
    }

    #cost-mobile {
        display: grid;
        justify-content: end;
        margin: 20px;
    }

    #product-position {
        position: static;
    }

    #overview {
        display: none;
    }

    #collapsible {
        display: flex;
        justify-content: space-between;
    }

    #collapsible h3 {
        margin: 10px;
    }

    .fa {
        font-size: 0.9em;
    }

    #products {
        display: none;
    }

    #product-details {
        order: -1;
    }

    #cost {
        display: none;
    }

    #date,
    #first-name,
    #post-code {
        max-width: 100%;
    }

}

@media only screen and (max-width: 400px) {
    body {
        font-size: 0.9em;
    }
}