body {
    background-color: var(--background-color);
} 
#foot-container {
    position: static;
}
main {
    max-width: var(--max-width); 
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 43%;
    justify-content: center;
    color: var(--font-color-secondary);
    padding: var(--body-padding); 
}

h2 {
    color: var(--font-color-primary);
    margin: 10px;
}

#product-details, #billing,
#delivery {
    margin: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

#product-position {
    position: sticky;
    top: 20px;
}

#products {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    overflow: scroll;
    max-height: 600px;
}

#products article {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px 20px;
    border-bottom: 1px solid var(--font-color-secondary);
    padding: 12px 0px;
    margin-bottom: 8px;
}

.product-img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.product-name {
    padding: 10px;
}

.product-cost {
    align-self: flex-end;
    text-align: right;
    margin-right: 10px;
}

.amount {
    display: flex;
    border: 1px solid var(--font-color-secondary);
    border-radius: 4px;
    width: fit-content;
    margin-left: auto;
}

.amount input,
.amount button {
    width: 2em;
    height: 2em;
    border: none;
    background-color: #FFF;
    flex-grow: 0;
}

.amount input {
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
}

#cost {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px 10px;
}

/*Set the grid for the forms*/
#billing,
#delivery {
    display: grid;
    padding-bottom: 10px;
}

.one-column,
.two-column {
    display: grid;
    padding: 0 10px 0 10px;
}

.two-column {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

#date,
#first-name,
#post-code {
    grid-row: 2;
    max-width: 95%;
}

/* Style the form questions */
#order-information input,
select {
    padding: 12px 0;
    margin: 8px 0;
    border: 1px solid var(--font-color-secondary);
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
}

select {
    padding-left: 8px;
}


/* Screen adjustments */
@media screen and (max-width: 980px) {
    main {
        grid-template-columns: 47% 47%;
        max-width: 100%;
    }

    #products {
        width: 100%;
        border: none;
    }

    #products article {
        gap: 10px 0;
    }
}

@media only screen and (max-width: 720px) {

    main,
    .two-column {
        grid-template-columns: 1fr;
    }
    main {
        padding: 0; 
    }
    #product-details {
        order: -1;
    }

    #product-position {
        position: static;
    }

    #date,
    #first-name,
    #post-code {
        max-width: 100%;
    }

    h2 {
        font-size: 1.3em;
    } 
}

@media only screen and (max-width: 400px) {
    body {
        font-size: 0.9em;
    } 
}