body{
    font-family: 'Domine', serif;
}

#contact{
}
#contact-wrapper{
    display: flex;
    gap: 10rem;
    max-width: 1000px;
    margin: 0 auto;
}

#contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 50%;
}
#info-item{
    text-align: center;
}
#info-item span{
    font-size: 2rem;
    color: black;
}

#contact-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
}
#contact-form input,
#contact-form textarea{
    padding: 1rem;
}
#contact-form textarea{
    min-height: 5rem;
}

#contact-form input,
#contact-form textarea{
    border: 2px solid black;
    border-radius: 20px;
    font-size: 1rem;
    font-family: 'Domine', serif;
}
#contact-form button{
    padding: 1rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 70px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
#contact-form button:hover{
    transform: scale(1.05);
}


/* Responsive Design */
@media screen and (max-width: 1000px) {
    #contact-wrapper{
        gap: 5rem;
        padding: 0 2rem;
    }
    
}
@media screen and (max-width: 680px) {
    #contact-wrapper{
        flex-direction: column;
        gap: 2.5rem;
    }
    #contact-info,
    #contact-form{
        width: 100%;
        margin-bottom: 2.5rem;
    }

    #foot-container{
        position: static;
    }
    #media-wrapper{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
    }
    
}