main{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

/*Header text*/
#hero h1{
    text-align: center;
    font-size: 2.5rem;
    padding: 3rem 1rem 2rem 1rem;
    color: var(--primary-color);
    
}

/*Contact section*/
.contact-section{
    padding: 1rem 2rem 3rem 2rem;
}

/*Contact wrapper*/
#contact-wrapper{
    display: flex;
    justify-content: space-evenly;
}

/*Formulär*/
.form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.form .terms{
    display: flex;
    align-items: center;
}

.form-group input,
.form-group textarea{
    width: 100%;
    padding: 0.9rem 1rem;
    font-size: 1rem;
    border-radius: 15px;
    font-family: var(--font-family);
    border: 2px solid var(--border-color);
    outline: none;
    background-color: var( --input-field-color);
}
textarea{
    min-height: 150px;
    resize: none;
}

.form button{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0.5rem 2.5rem;
    border-radius: 15px;
    border: none;
    background-color: var(--primary-color) ;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 25%;
    font-size: 1rem;
}
.form button:hover{
    transform: translateY(-2px);
    background-color: var(--secondary-color);
}
.terms{
    font-size: 0.8rem;
    color: var(--font-color-primary);
    padding: 0;
}

/*Extra Div för linje under terms
.terms-underline{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.terms-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3.5px;
  background-color: var(--primary-color);
  border-radius: 999px;
}
*/


/*Enkelt sätt att få Checkboxen snyggare
input[type="checkbox"] {
  width: 15px;
  height: 15px;
  accent-color: var(--primary-color);
}
*/

/*Checkbox design*/
/* Göm original-checkboxen */
.terms input[type="checkbox"] {
  opacity: 0;
}

/* Label som klickyta */
.terms label {
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
}

/* Checkbox-rutan */
.terms label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--font-color-secondary);
  border-radius: 5px;
  background: white;
  transition: all 0.2s ease;
}

/* När checkboxen är checked → färgad box */
.terms input:checked + label::before {
  background: var(--primary-color);
  border-color: var(--primary-color);
}

/* Vit checkmark */
.terms input:checked + label::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 5px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/*Kontakt Info sektion*/
#contact-info{
    display: flex;
    flex-direction: column;
}
.info-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}
.info-item i{
    font-size: 2.5rem;
    color: var(--primary-color);
}
.info-item p{
    color: var(--font-color-secondary);
}



/* Responsiv Design */
@media (max-width: 950px) {
    #contact-wrapper{
        gap: 2rem;
    }
    .form .terms{
        align-items: flex-start;
    }
}

@media (max-width: 768px){
    #hero h1{
        padding: 2.5rem 1.5rem 2rem 1.5rem;
    }
    #contact-wrapper{
        flex-direction: column;
        align-items: center;
        padding: 0 2.5rem 0 2.5rem;
    }
    .form{
        gap: 1.5rem;
        width: 100%;
    }
    .contact-section{
        padding: 0;
    }
   
    #contact-info{
        padding: 2rem 0 2rem 0;
        gap: 2rem;
    }
}