main{
    display: flex;
    flex-direction: column;
}

/*Header text*/

#hero h1{
    text-align: center;
    font-size: 2.5rem;
    padding: 3rem 1rem 2rem 1rem;
    color: var(--primary-color);
    
}

/*Contact section*/
.contact-section{
    padding: 1rem 2rem 3rem 2rem;
}

/*Contact wrapper*/
#contact-wrapper{
    display: flex;
    justify-content: space-evenly;
}

/*Form*/
.form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.form .terms{
    display: flex;
    align-items: center;
}

.form-group input,
.form-group textarea{
    width: 100%;
    padding: 0.9rem 1rem;
    font-size: 1rem;
    border-radius: 15px;
    font-family: var(--font-family);
    border: 2px solid var(--border-color);
    outline: none;
}
textarea{
    min-height: 150px;
    resize: none;
}

.form button{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0.5rem 2.5rem;
    border-radius: 15px;
    border: none;
    background-color: var(--primary-color) ;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 25%;
    font-size: 1rem;
}
.form button:hover{
    transform: translateY(-2px);
    background-color: var(--secondary-color);
}
.terms{
    font-size: 0.8rem;
    color: var(--font-color-primary);
    background-color: white;
    border-radius: 25px;
   
    padding: 0.5rem;
}

/*Contact Info section*/
#contact-info{
    display: flex;
    flex-direction: column;
}
.info-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}
.info-item i{
    font-size: 2.5rem;
    color: var(--primary-color);
}
.info-item p{
    color: var(--font-color-secondary);
}





/* Responsive Design */
@media (max-width: 900px) {
    #contact-wrapper{
        gap: 2rem;
    }
    .form .terms{
        align-items: flex-start;
    }
}

@media (max-width: 700px){
    #hero h1{
        padding: 2.5rem 1.5rem 2rem 1.5rem;
    }
    #contact-wrapper{
        flex-direction: column;
        align-items: center;
        padding: 0 2.5rem 0 2.5rem;
    }
    .form{
        gap: 1.5rem;
        width: 100%;
    }
    .contact-section{
        padding: 0;
    }
   
    #contact-info{
        padding: 2rem 0 2rem 0;
        gap: 2rem;
    }
}