body{
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}

/*Header text*/
#hero h1{
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem 1rem 0 1rem;
    
}

/*Contact information and Contact form*/
.contact-section{
    padding: 2rem 1.5rem;
}

#contact-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
}

.form{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    max-width: 400px;
}
.form .terms{
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.form-group input,
.form-group textarea{
    width: 100%;
    padding: 0.9rem 1rem;
    font-size: 1rem;
    border-radius: 15px;
    font-family: var(--font-family);
    border: 2px solid var(--primary-color);
}
textarea{
    min-height: 150px;
    resize: none;
}

.form button{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0.5rem 2.5rem;
    border-radius: 15px;
    border: none;
    background-color: var(--primary-color) ;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 25%;
    font-size: 1rem;
}
.form button:hover{
    transform: translateY(-2px);
}
.terms{
    font-size: 0.8rem;
    color: var(--font-color-primary);
    background-color: white;
    border-radius: 25px;
    border: 2px solid var(--primary-color);
    padding: 0.5rem;
}

#contact-info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 400px;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 25px;
    border: 2px solid var(--primary-color);
    background-color: white;
}
.info-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}
.info-item i{
    font-size: 2.5rem;
    color: var(--primary-color);
}
.info-item p{
    color: var(--font-color-secondary);
}




/* Responsive Design */
@media (max-width: 900px) {

    .contact-section{
        padding: 0;
    }
    #contact-wrapper{
        padding: 0 2rem 0 2rem;
        height: 450px;
        gap: 1rem;
    }
    #contact-info{
        gap: 0;
    }
    .form{
        gap: 0.5rem;
    }
    .terms{
        align-items: flex-start;
        padding: 0.8rem;
    }
}

@media (max-width: 700px){
    #contact-wrapper{
        flex-direction: column;
        align-items: center;
        padding: 2rem 2rem 0 2rem;
    }
    .contact-form{
        min-width: 400px;
        min-height: 380px;
    }
}