body{
    display: flex;
    flex-direction: column;
    font-family: 'Domine', serif;
}

#hero-image{
    position: absolute;
    width: 100%;
    height: 15rem;
    overflow: hidden;
    z-index: -1;
}
#hero h1{
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    color: white;
}

.contact-section{
    padding: 3rem 1.5rem;
    background-color: white;
}

#contact-wrapper{
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
    margin: 0 auto;
}

.contact-form{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    max-width: 400px;
}

.form-group input,
.form-group textarea{
    width: 100%;
    padding: 0.9rem 1rem;
    font-size: 1rem;
    border-radius: 15px;
    font-family: var(--font-family);
    border: 2px solid #746263;
}
textarea{
    min-height: 150px;
    resize: vertical;
}

.contact-form button{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0.5rem 2.5rem;
    border-radius: 15px;
    border: none;
    background-color: #e28383;
    color: #F3E5DC;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 25%;
    font-size: 1rem;
}
.contact-form button:hover{
    background-color: #c76b6b;
    color: white;
    transform: translateY(-2px);
}

#contact-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    max-width: 400px;
}
.info-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}
.info-item i{
    font-size: 2.5rem;
    color: #665253;
}





@media (max-width: 900px) {
    #contact-info{
        gap: 0;
    }
}

@media (max-width: 700px){
    #contact-wrapper{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .contact-form{
        min-width: 400px;
        min-height: 380px;
    }
}