body{
    display: flex;
    flex-direction: column;
    font-family: 'Domine', serif;
}

#hero-image{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 15rem;
    overflow: hidden;
    z-index: -1;
}
#hero h1{
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    color: white;
}

#contact-wrapper{
    display: flex;
    align-items: center;
    margin: 3rem 0 auto 0;
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.form-group{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.form-group input,
.form-group textarea{
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 15px;
    font-family: 'Domine', serif;
}

.contact-form button{
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 15px;
    background-color: #e28383;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.contact-form button:hover{
    background-color: #c76b6b;
    transform: scale(1.1);
}


#contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}
.info-item{
    text-align: center;
}
.info-item span{
    font-size: 2.5rem;
    color: black;
}










/* Responsive Design */
@media screen and (max-width: 1200px) {

    
}
@media screen and (max-width: 680px) {
    #contact-wrapper{
        flex-direction: column;
        gap: 2.5rem;
    }
    #contact-info,
    #contact-form{
        width: 100%;
        margin-bottom: 2.5rem;
    }

    #foot-container{
        position: static;
    }
    #media-wrapper{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
    }
    
}