/*
.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  z-index: -1;
}
  */

/*Frontpage mitten text*/
#main-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 8rem 0 auto 0;
    line-height: 1.2;
}
#section-wrapper{
    background-color: rgba(253, 244, 238, .8);
    padding: 2rem;
    border-radius: 30px;
    backdrop-filter: blur(4px);
    box-shadow: 0px 2px 4px rgba(0, 0 ,0, .15);

}
#section-wrapper h2{
    color: var(--primary-color);
    margin: 1.5rem;
}
#section-wrapper p{
    color: var(--secondary-color);
}

.tagline{
    font-weight: 700;
}




/*Responsive Design mitten text*/
@media screen and (max-width: 700px){
    #section-wrapper{
        margin: 2rem;
    }
}