.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  z-index: -1;
}

/*Frontpage middle text*/
#main-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 8rem 0 auto 0;
    line-height: 1.2;
}
#section-wrapper{
    background-color: var(--input-field-color);
    padding: 2rem;
    border-radius: 45px;
}
#section-wrapper h2{
    color: var(--primary-color);
}
#section-wrapper p{
    color: var(--secondary-color);
}





@media screen and (max-width: 700px){
    #section-wrapper{
        margin-bottom: 1rem;
        padding: 2rem 2rem 1rem 2rem;
    }
}