#main-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 8rem 0 auto 0;
    line-height: 1.2;
}

@media screen and (max-width: 700px){
    #section-wrapper{
        margin-bottom: 1rem;
        padding: 0 1rem;
    }
}