@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
.nav-toggle:checked ~ nav {
  transform: scaleY(1);
}

/*
body:has(#nav-toggle:checked) .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

body:has(#nav-toggle:checked) header {
  border-radius: 6px 6px 0 0;
  box-shadow: none;
  transition: border-radius 0ms ease 0ms;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:checked ~ .nav-toggle-label span {
  background: transparent;
}

.nav-toggle:checked ~ .nav-toggle-label span::before {
  transform: rotate(45deg);
  bottom: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span::after {
  transform: rotate(-45deg);
  top: 0;
}*/

body{
    margin: 0;
}
#nav-toggle {
    display: none;
}


#header-container {
    display: flex;
    align-items: center;
    margin: 2rem 5rem 0 2.5rem;
    justify-content: space-between;
}
#home-page{
    display: flex;
    text-decoration: none;
}

#logo-text {
    font-family: 'Domine', serif;
    color: #000000;
    font-size: 0.9rem;
}

#header-container ul{
    display: flex;
    gap: 5rem;
    list-style: none;
}

#header-container ul li a{
    text-decoration: none;
    font-family: 'Domine', serif;
    color: #000000;
}
#header-container ul li a:hover{
    color: #f7559a;
}
#header-container i{
    font-size: 1.2rem;
    color: #000000;
}
#header-container i:hover{
    color: #f7559a;
}
#header-container a{
  align-items: center;
  transition: transform 0.2s ease-in-out;
}
#header-container a:hover{
  transform: scale(1.2);
}





#footer-container{
    font-family: 'Domine', serif;
    width: 100%;

    position: fixed;
    bottom: 0;
}
#media-wrapper{
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: 5rem 5rem 4rem 5rem;
    background-color: #f7559a;
}
#media-wrapper a{
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    color: white;
    gap: 0.5rem;
}
#media-wrapper a:hover{
    transform: scale(1.1);
    color: black;
}
#media-wrapper i{
    font-size: 1.4rem;
    color: #000000;
}
#footer-container p{
    background-color: #f7559a;
    color: white;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: auto;
    margin-bottom: 0;
}










/*
@media screen and (min-width: 1300px) {}
  
.nav-toggle-label {
  display: none;
}*/