@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
.nav-toggle:checked ~ nav {
  transform: scaleY(1);
}

/*
body:has(#nav-toggle:checked) .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

body:has(#nav-toggle:checked) header {
  border-radius: 6px 6px 0 0;
  box-shadow: none;
  transition: border-radius 0ms ease 0ms;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:checked ~ .nav-toggle-label span {
  background: transparent;
}

.nav-toggle:checked ~ .nav-toggle-label span::before {
  transform: rotate(45deg);
  bottom: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span::after {
  transform: rotate(-45deg);
  top: 0;
}*/

body{
    margin: 0;
}
#nav-toggle {
    display: none;
}

#nav-header {
    display: flex;
    align-items: center;
    margin: 2rem 4rem 0 2rem;
    justify-content: space-between;
}
#home-page{
    display: flex;
    text-decoration: none;
}

#logo-text {
    font-family: 'Domine', serif;
    color: #000000;
}

#nav-header ul{
    display: flex;
    padding: 0;
    gap: 4rem;
    list-style: none;
    text-decoration: none;
}
#nav-header ul li a{
    text-decoration: none;
    font-family: 'Domine', serif;
    color: #000000;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'Domine', serif;
}



#footer-container {
    font-family: 'Domine', serif;
    color: #ffffff;
    background-color: #f7559a;
    height: 5rem;
    padding: 5rem 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}
#footer-container p{
    text-align: center;
    margin: 0;
}
#media-wrapper {
    display: flex;
    justify-content: center;
    gap: 10rem;
}
#media-wrapper a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 0.5rem;
}
#media-wrapper i{
    font-size: 1.5rem;
    color: #000000;
}










/*
@media screen and (min-width: 1300px) {}
  
.nav-toggle-label {
  display: none;
}*/