@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
.nav-toggle:checked ~ nav {
  transform: scaleY(1);
}

/*
body:has(#nav-toggle:checked) .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

body:has(#nav-toggle:checked) header {
  border-radius: 6px 6px 0 0;
  box-shadow: none;
  transition: border-radius 0ms ease 0ms;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:checked ~ .nav-toggle-label span {
  background: transparent;
}

.nav-toggle:checked ~ .nav-toggle-label span::before {
  transform: rotate(45deg);
  bottom: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span::after {
  transform: rotate(-45deg);
  top: 0;
}*/

body{
    margin: 0;
}
#nav-toggle {
    display: none;
}
#home-page{
    display: flex;
    text-decoration: none;
    align-items: center;
}
#home-page:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
#logo-text {
    font-family: 'Domine', serif;
    color: #000000;
    font-size: 0.9rem;
}

#head-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 4rem 0 2rem;
}

#nav-container{
  font-family: 'Domine', serif;
  font-size: 1.1rem;
}
#nav-container ul{
  display: flex;
  gap: 4rem;
  margin: 0;
  padding: 0;
}
#nav-container li{
  list-style: none;
  transition: transform 0.2s ease-in-out;
}
#nav-container li:hover{
  transform: scale(1.1);
}
#nav-container a,
#nav-container i{
  text-decoration: none;
  color: #000000;
  transition: transform 0.2s ease-in-out;
}
#nav-container a:hover,
#nav-container i:hover{
  color: #e28383;
  transform: scale(1.2);
}

#foot-container{
    font-family: 'Domine', serif;
    width: 100%;

    position: fixed;
    bottom: 0;
}
#media-wrapper,
#media-wrapper a,
#foot-container p{
  background-color: #e28383;
  color: white;
}
#media-wrapper{
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: 5rem 5rem 4rem 5rem;
}
#media-wrapper a{
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    gap: 0.5rem;
}
#media-wrapper a:hover{
    transform: scale(1.1);
    color: black;
}
#media-wrapper i{
    font-size: 1.4rem;
    color: #000000;
}
#foot-container p{
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 1rem;
    margin-top: auto;
    margin-bottom: 0;
}



  /* Responsive Design */
@media screen and (max-width: 680px) {
    #head-container{
      flex-direction: column;
      margin: 1rem 2rem 0 2rem;
    }

    #media-wrapper{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
    }
    
}







/*
@media screen and (min-width: 1300px) {}
  
.nav-toggle-label {
  display: none;
}*/