body {
  margin: 0;
  background-color: var(--background-color);
}

p {
  margin: 0;
}
hr {
  width: 100%;
  opacity: 50%;
  border-top: 1px var(--font-color-primary) solid;
}

#products-page {
  padding: var(--body-padding);

  display: grid;
  grid-template-columns: 1fr;
}
#filter-section {
  min-height: fit-content;
  margin-bottom: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px var(--font-color-primary) solid;
}
#filter-heading {
  margin: 0 0.2rem 0 0;
  display: inline;
}
.filter-type-heading {
  margin: 0.6rem 0 0.3rem 0;
}
.filter-wrapper {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 15px;
}
#filter-head-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.filter-box-btn {
  display: flex;
  flex-direction: row;
}
input[type="checkbox"] {
  margin: 0 5px 3px 3px;
  accent-color: var(--accent-color-1);
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: var(--button-border-radius);
  border: 1px solid var(--secondary-color);
  background-color: var(--input-field-color);
}

input[type="checkbox"]::before {
  content: "";
  margin: 0.2rem 0.1rem 0 0.1rem;
  width: 0.8rem;
  height: 0.8rem;
  -webkit-clip-path: polygon(
    21% 40%,
    21% 40%,
    8% 54%,
    25% 68%,
    36% 77%,
    47% 65%,
    48% 64%,
    64% 47%,
    75% 35%,
    93% 13%,
    81% 4%,
    36% 54%
  );
  clip-path: polygon(
    21% 40%,
    21% 40%,
    8% 54%,
    25% 68%,
    36% 77%,
    47% 65%,
    48% 64%,
    64% 47%,
    75% 35%,
    93% 13%,
    81% 4%,
    36% 54%
  );
  opacity: 0;
  background-color: var(--secondary-color);
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}

#product-grid-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}
.filter-mobile {
  display: block;
}
.filter-desktop {
  display: none;
}
.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, calc(100% / 8));
  aspect-ratio: 1/1;
}
.card-img-section {
  grid-column: 1 / -1;
  grid-row: 1 / 4;
}
.card-img {
  width: 100%;
  object-fit: cover;
}
.allergens {
  font-size: x-large;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  padding: 0 0 0 0.3rem;
}
.fa-cow {
  color: #a48271;
}
.fa-wheat-awn {
  color: #f5deb3;
}
.fa-egg {
  color: #fffcec;
}
.fa-circle {
  color: #d4a085;
}
.fa-icon-border {
  text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    -1px -1px 0 #000, 1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000,
    0px -1px 0 #000, 0px 0px 1px rgba(0, 0, 0, 0);
}
.fa-icon-clickable {
  font-size: x-large;
}
/* .product-favorite {
  margin: 1rem;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
} */
.card-info-section {
  padding: 0.5rem 1rem;
  background: rgba(var(--background-color-rgb), 0.8);

  grid-column: 1/ -1;
  grid-row: 7/-1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.card-info-section-long {
  padding: 0.5rem 1rem;
  background: rgba(var(--background-color-rgb), 0.8);

  grid-column: 1/ -1;
  grid-row: -4/-1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#allergen-info {
  font-size: xx-small;
}
.product-name {
  margin: 0;
  grid-column: 1/-2;
  grid-row: 1/2;
  align-self: center;
}
.product-price {
  grid-column: 1/-2;
  grid-row: 2/3;
  align-self: center;
}
.product-cart {
  /* font-size: small; */
  grid-column: -2/-1;
  grid-row: 1/3;
  justify-self: end;
  align-self: center;
}
.no-link-style {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  hr {
    width: 0;
  }
  #product-grid-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-card {
    grid-template-rows: repeat(7, 14.285714%);
  }
  .card-info-section {
    grid-row: 6/-1;
  }
  .filter-box-section {
    display: flex;
  }
  #filter-allergen-section,
  #filter-category-section {
    width: 50%;
  }
  #filter-category-section {
    padding-left: 10px;
  }
  /* #filter-category-section .filter-wrapper {
    column-gap: 10px;
  } */
}

@media screen and (min-width: 992px) {
  #product-grid-section {
    grid-template-columns: repeat(3, 1fr);
  }
  .fa-icon-clickable {
    font-size: medium;
  }
  /* #filter-category-section .filter-wrapper {
    column-gap: 15px;
  } */
}
@media screen and (min-width: 1200px) {
  hr {
    margin-left: 0;
    width: 80%;
  }
  #products-page {
    max-width: var(--max-width);
    grid-template-columns: 2fr 10fr;
    align-self: center;
  }
  #filter-section {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  #product-grid-section {
    grid-column: 2/3;
    /* grid-row: 2/3; */

    grid-template-columns: repeat(4, 1fr);
  }
  .filter-type-heading {
    margin: 0.4rem 0 0.3rem 0;
  }
  .filter-box-section {
    margin: 1rem 0 0 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .no-top-margin {
    margin-top: 0;
  }
  .filter-mobile {
    display: none;
  }
  .filter-desktop {
    display: block;
  }
  .card-info-section {
    padding: 0.5rem;
    grid-row: 6/-1;
  }
  /*.product-card {
 grid-template-rows: repeat(9, 11.11111%); 
  }*/
  .product-favorite {
    margin: 0.6rem;
  }
  .filter-wrapper {
    justify-content: start;
    row-gap: 5px;
  }
  #filter-category-section {
    padding-left: 0px;
  }
}
/* @media screen and (min-width: 1440px) {
  #product-grid-section {
    grid-column: 2/3;
    grid-row: 2/3;

    grid-template-columns: repeat(5, auto);
  } 
}*/
