p {
  margin: 0;
}

#products-page {
  outline: skyblue solid 1px;
  display: grid;
  grid-template-columns: 1fr;
}
#filter-section {
  outline: pink solid 1px;
  min-height: fit-content;
}
#product-grid-section {
  outline: orange solid 1px;
}
.product-card {
  display: grid;
  grid-template-columns: repeat(2, 187.5px);
  grid-template-rows: repeat(3, calc(375px / 3));
  height: min-content;
}
.card-img-section {
  grid-column: 1 / -1;
  grid-row: 1/-3;
}
.card-img {
  width: 100%;
}
.product-favorite {
  margin: 1rem;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: flex-end;
}
.card-info-section {
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.8); /* change color later!!*/

  grid-column: 1/ -1;
  grid-row: 3/-1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.product-name {
  margin: 0;
  grid-column: 1/-2;
  grid-row: 1/2;
}
.product-price {
  grid-column: 1/-2;
  grid-row: 2/3;
  align-self: center;
}
.product-cart {
  grid-column: -2/-1;
  grid-row: 1/2;
  justify-self: flex-end;
}
.product-rating {
  grid-column: -3/-1;
  grid-row: 2/3;
  justify-self: end;
  align-self: flex-end;
}
