
body {
    margin: 0;
}

.product {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "image"
    "details";   
    column-gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.product-image {
    grid-area: image;
    width: 100%;
    height: 100%;
    margin: 0;
}

.product-image img {
    width: 100%;
    height: 100%;
}

.product-info {
    grid-area: details;
}

.product-image {
    grid-area: image;
}
.allergens {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.allergen-tag {
    background-color: #444;
    color: #fff;
    padding: 0.25rem 0.75rem;
    border-radius: 20px;
    font-size: 0.9rem;
    margin-bottom: .5rem;
}

.allergen {
    font-weight: bold;
}

.description {
    margin-bottom: rem;
}

details > *:last-child {
    margin-bottom: 0;
}

summary {
    display: flex;
    align-items: center;
    cursor: pointer;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

summary i {
    margin-left: auto;
    font-size: .8rem;
    transition: transform 0.3s;
}

details[open] summary i {
    transform: rotate(180deg);
}

.ingredients {
    margin: 2rem 0 0 0;
    background-color: #f1eeed;
    padding: 1rem;
}
.nutrition {
    margin: 2rem 0 2rem 0;
    background-color: #f1eeed;
    padding: 1rem;
}

.nutrition ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.nutrition li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #a8a8a8;
    padding: 0.5rem;  
}

.nutrition .label {
    font-weight: 600;
}

.nutrition .value {
    text-align: right;
}

.purchase {
    margin-top: 1.5rem;
}

.quantity {
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    margin: 1rem 0;
}
.quantity button {
    background-color: #444;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 20px;
    font-size: .9rem;
    font-weight: bold;
    border: none;
}
.quantity input {
    width: 50px;
    background-color: #f1eeed;
    text-align: center;
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
}

.add-to-cart {
    background-color: #39a552;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .product { 
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "details image";
    }
}