
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

:root {
    --border: 1px solid rgba(87, 65, 66,.5);
}

body {
    margin: 0;
    font-family: 'Domine', serif;
    background-color: #f3e5dc;
    color: #574142;
}

p {
    line-height: 1.6;
    font-size: .9rem;
}

/* .back-button {
    background-color: #2c2c2c;
    color: #fff;
    padding: .5rem .75rem;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: .8rem;
    margin: 1rem 2rem;
} */

.product {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "image"
    "details"
    "ingredients-nutrition";   
    column-gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 8px;
}

.product-image {
    grid-area: image;
    width: 100%;
    margin: 0;
    
}

.product-image img {
    width: 100%;
    border-radius: 20px;
}

.product-info {
    grid-area: details;
}

.product-image {
    grid-area: image;
}

.ingredients-nutrition {
    grid-area: ingredients-nutrition;
}

.price-unit {
    margin: 2rem 0;
    font-size: 1.4rem;
    font-weight: 600;
}

details > *:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

summary {
    display: flex;
    align-items: center;
    cursor: pointer;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

summary i {
    margin-left: auto;
    font-size: .8rem;
    transition: transform .5s;
}

summary i::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f067";
}

details[open] summary i::before {
    content: "\f068";
}

details[open] summary i {
    transform: rotate(180deg);
}

.ingredients {
    margin: 2rem 0 0 0;
    padding: 2rem 1rem;
    border-top: var(--border);
    border-bottom: var(--border);
}

.allergen {
    font-weight: 800;
}

#allergen-label {
    border-radius: 60px;
    display: flex;
    gap: 0.5rem;
}
#allergen-label p {
    background-color: #574142;
    color: #fff;
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
    border-radius: 60px;
}

.nutrition {
    margin: 0rem 0 2rem 0;
    padding: 2rem 1rem;
    border-bottom: var(--border);
}

.nutrition ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.nutrition li {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border);
    padding: 1rem 0;
    font-size: .9rem;
}

.nutrition .label {
    font-weight: 800;
}

.nutrition .value {
    text-align: right;
}

.purchase {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.quantity {
    align-items: center;
    display: inline-flex;
    margin: 1rem 1rem 0 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.quantity input {
    width: 40px;
    text-align: center;
    border: 1px solid #e28383;
    background-color: #fdf4ee;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 60px;
}

.add-to-cart {
    background-color: #e28383;
    color: #fff;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    transition: background-color .3s ease, transform .2s ease;
}

.add-to-cart i {
    margin-right: 0.5rem;
}

/* Disabled state */
.add-to-cart.loading {
    pointer-events: none;
    opacity: 0.85;
}

/* Spinner */
.add-to-cart.loading i {
    animation: spin 1s linear infinite;
}

/* Success state is now also disabled */
.add-to-cart.success {
    pointer-events: none; /*Needed to add this to prevent bug when clicking button while in success-state */
    background-color: #5bb065;
}

/* Small press feedback */
.add-to-cart:active {
    transform: scale(0.97);
}

/* Spinner animation */
@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

.others-like {
    margin: 0 auto 3rem auto;
    padding: 0 2rem;
    max-width: 1000px;
}

.others-like h2 {
    margin-bottom: 1rem;
}

/* Scroll-container */
.others-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 40%;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: .5rem;
}

/* Kort */
.other-item {
    scroll-snap-align: start;
}

.other-item img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 16px;
}

.other-item p {
    text-align: center;
}

.other-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.others-list::-webkit-scrollbar {
    height: 4px;
}

.others-list::-webkit-scrollbar-track {
    background: #fdf4ee;
    border-radius: 10px;
}

.others-list::-webkit-scrollbar-thumb {
    background-color: #e28383;
    border-radius: 10px;
}

.others-list {
    scrollbar-color: #e28383 #fdf4ee;
    scrollbar-width: thin;
}

@media (min-width: 768px) {
    .product { 
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "details image"
        "ingredients-nutrition ingredients-nutrition";
    }

    .others-list {
        grid-auto-columns: 22%;
    }
}

@media (min-width: 1024px) {
    .others-list {
        grid-auto-columns: 18%;
    }
}