
:root {
    --border: 1px solid #ddd;
}

body {
    margin: 0;
}

/* .back-button {
    background-color: #2c2c2c;
    color: #fff;
    padding: .5rem .75rem;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: .8rem;
    margin: 1rem 2rem;
} */

.product {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "image"
    "details";   
    column-gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
}

.product-image {
    grid-area: image;
    width: 100%;
    margin: 0;
    
}

.product-image img {
    width: 100%;
    border-radius: 20px;
}

.product-info {
    grid-area: details;
}

.product-image {
    grid-area: image;
}

.price-unit {
    margin: 2rem 0;
    font-size: 1.4rem;
    font-weight: 600;
}

details > *:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

summary {
    display: flex;
    align-items: center;
    cursor: pointer;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

summary i {
    margin-left: auto;
    font-size: .8rem;
    transition: transform .3s;
}

summary i::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f067";
}

details[open] summary i::before {
    content: "\f068";
}

details[open] summary i {
    transform: rotate(180deg);
}

.ingredients {
    margin: 2rem 0 0 0;
    padding: 2rem 1rem;
    border-top: var(--border);
    border-bottom: var(--border);
}

.allergen {
    font-weight: 600;
}
.nutrition {
    margin: 0rem 0 2rem 0;
    padding: 2rem 1rem;
    border-bottom: var(--border);
}

.nutrition ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.nutrition li {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border);
    padding: 1rem 0;  
}

.nutrition .label {
    font-weight: 600;
}

.nutrition .value {
    text-align: right;
}

.purchase {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.quantity {
    align-items: center;
    display: inline-flex;
    margin: 1rem 1rem 0 0;
}
.quantity input {
    width: 40px;
    text-align: center;
    border: 1px solid #e28383;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 60px;
}

.add-to-cart {
    background-color: #e28383;
    color: #fff;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: 1rem;
}

.add-to-cart i {
    margin-right: 0.5rem;
}

@media (min-width: 768px) {
    .product { 
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "details image";
    }
}