body {
  margin: 0;
}

p {
  margin: 0;
}

#products-page {
  margin: 0 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
}
#filter-section {
  min-height: fit-content;
  margin-bottom: 0.5rem;
}
#filter-heading {
  margin: 0 0.2rem 0 0;
  display: inline;
}
#product-grid-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}
.product-card {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 33.333%);
  aspect-ratio: 1/1;
}
.card-img-section {
  grid-column: 1 / -1;
  grid-row: 1/-3;
}
.card-img {
  width: 100%;
}
.product-favorite {
  margin: 1rem;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
}
.card-info-section {
  padding: 0.5rem 1rem;
  background: rgba(255, 239, 195, 0.8); /* change color later!!*/

  grid-column: 1/ -1;
  grid-row: 3/-1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.product-name {
  margin: 0;
  grid-column: 1/-2;
  grid-row: 1/2;
}
.product-price {
  grid-column: 1/-2;
  grid-row: 2/3;
  align-self: center;
}
.product-cart {
  grid-column: -2/-1;
  grid-row: 1/2;
  justify-self: end;
}
.product-rating {
  grid-column: 3/-1;
  grid-row: 2/3;
  justify-self: end;
  align-self: end;
}

@media screen and (min-width: 768px) {
  #product-grid-section {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (min-width: 1024px) {
  #product-grid-section {
    grid-template-columns: repeat(3, auto);
  }
}
