body {
  margin: 0;
  background-color: var(--background-color);
}

p {
  margin: 0;
}

#products-page {
  padding: var(--body-padding);

  display: grid;
  grid-template-columns: 1fr;
}
#filter-section {
  min-height: fit-content;
  margin-bottom: 0.5rem;
}
#filter-heading {
  margin: 0 0.2rem 0 0;
  display: inline;
}
.filter-type-heading {
  margin: 0.6rem 0 0.3rem 0;
}
.filter-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
}
#filter-head-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
#filter-mobile-caret {
  visibility: 1;
}
.filter-box-btn {
  display: flex;
  flex-direction: row;
}
input[type="checkbox"] {
  margin: 0 5px 3px 3px;
}
#product-grid-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}
.filter-mobile {
  display: block;
}
.filter-desktop {
  display: none;
}
.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, calc(100% / 8));
  aspect-ratio: 1/1;
}
.card-img-section {
  grid-column: 1 / -1;
  grid-row: 1 / 4;
}
.card-img {
  width: 100%;
  object-fit: cover;
}
.allergens {
  font-size: x-large;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  padding: 0.5rem 0 0 0.3rem;
}
.fa-cow {
  color: #a48271;
}
.fa-wheat-awn {
  color: #f5deb3;
}
.fa-egg {
  color: #fffcec;
}
.fa-circle {
  color: #d4a085;
}
.fa-icon-border {
  text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    -1px -1px 0 #000, 1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000,
    0px -1px 0 #000, 0px 0px 1px rgba(0, 0, 0, 0);
}
.fa-icon-clickable {
  font-size: x-large;
}
/* .product-favorite {
  margin: 1rem;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
} */
.card-info-section {
  padding: 0.5rem 1rem;
  background: rgba(var(--background-color-rgb), 0.8);

  grid-column: 1/ -1;
  grid-row: 7/-1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.product-name {
  margin: 0;
  grid-column: 1/-2;
  grid-row: 1/2;
  align-self: center;
}
.product-price {
  grid-column: 1/-2;
  grid-row: 2/3;
  align-self: center;
}
.product-cart {
  /* font-size: small; */
  grid-column: -2/-1;
  grid-row: 1/3;
  justify-self: end;
  align-self: center;
}
.no-link-style {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  #product-grid-section {
    grid-template-columns: repeat(2, auto);
  }
  .product-card {
    grid-template-rows: repeat(7, 14.285714%);
  }
  .card-info-section {
    grid-row: 6/-1;
  }
}

@media screen and (min-width: 992px) {
  #product-grid-section {
    grid-template-columns: repeat(3, auto);
  }
  .fa-icon-clickable {
    font-size: medium;
  }
}
@media screen and (min-width: 1200px) {
  #products-page {
    max-width: var(--max-width);
    grid-template-columns: 2fr 10fr;
  }
  #filter-section {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #product-grid-section {
    grid-column: 2/3;
    grid-row: 2/3;

    grid-template-columns: repeat(4, auto);
  }
  .filter-type-heading {
    margin: 0.4rem 0 0.3rem 0;
  }
  .filter-box-section {
    margin: 1rem 0 0 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .no-top-margin {
    margin-top: 0;
  }
  .filter-mobile {
    display: none;
  }
  .filter-desktop {
    display: block;
  }
  .card-info-section {
    padding: 0.5rem;
    grid-row: 6/-1;
  }
  /*.product-card {
 grid-template-rows: repeat(9, 11.11111%); 
  }*/
  .product-favorite {
    margin: 0.6rem;
  }
}
/* @media screen and (min-width: 1440px) {
  #product-grid-section {
    grid-column: 2/3;
    grid-row: 2/3;

    grid-template-columns: repeat(5, auto);
  } 
}*/
